header{
    display: flex;
    text-align: center;
    justify-content: center;
}

main{
    display: flex;
    text-align: center;
    justify-content: center;
}
.task{
    margin: 10px;
}
.task.clicked{
    background-color: lightgreen;

}


.newTaskInput{
    border: none;
    border-bottom: 2px solid black;
    height: fit-content;
}
.taskInput{
    border: none;
}
.taskInput:focus{
    outline: none;
}


.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 8px;
    box-shadow: 0 9px #999;
  }
  .button.del{
      background-color: red;
  }
  .button.del:hover{
    background-color: darkred;
}
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
